<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worker</title>
    <link rel="stylesheet" href="{% static 'signup.css'%}">
    <style>
      select {
          padding-left:60px
      }
  </style>
  </head>
<body>
    <h2>ASHAWORKER REGISTER</h2>
    <form action="" method="post">
        {%csrf_token%}

        <div>
          <input
            type="text"
            name="name"
            id="firstname"
            placeholder=" "
            required
          />
          <label for="firstname">First name</label>
        </div>
  
        <div>
          <input
            type="text"
            name="age"
            id="age"
            placeholder=" "
            required
          />
          <label for="lastname">Age</label>
        </div>
  
        <div class="gender">
          <input type="radio" name="gender" value="male" id="option-1" checked />
          <input type="radio" name="gender" value="female" id="option-2" />
          <label for="option-1" class="option option-1">
            Male
          </label>
           <label for="option-2" class="option option-2">
            Female
          </label>
        </div>
  
        <div>
          <textarea name="address" id="" cols="20" name="address" rows="10"></textarea>
          <label for="address">Address</label>
        </div>
        
          <select required class="disdrop" name="disdrop" id="disdrop">
            <option value="">Select District</option>
            {% for i in district%}
            <option value="{{i.id}}">{{i.district_name}}</option>
            {%endfor%}
          </select>
        
          <select required class="pandrop" name="pandrop" id="pandrop">
            <option value="select">Select Panchayat</option>
          </select>
        
          <select required class="warddrop" name="warddrop" id="warddrop">
              <option value="">Select Ward</option>
          </select>
  
        <div>
          <input
            type="tel"
            name="contact"
            id="tel"
            placeholder=" "
            pattern="^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$"
            required
          />
          <label for="tel">Phone No.</label>
          <div class="requirements">Must be a valid Phone Number!</div>
        </div>
        <div>
          <input type="email" name="email" id="email" placeholder=" " required />
          <label for="email">Email</label>
          <div class="requirements">Must be a valid email addres!</div>
        </div>
        <div>
          <input
            type="password"
            name="password"
            id="password"
            placeholder=" "
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
            required
          />
          <label for="password">Password</label>
          <div class="requirements">Must be a valid password!</div>
        </div>
        <input type="submit" value="Sign up" />
      </form>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#disdrop").change(function () {
        var did = $(this).val();
        var ur = "{% url 'Guest:ajaxpan' %}"
        $.ajax({
            url: ur,
            data: { did: did, },
            success: function (data) {
                $("#pandrop").html(data);
            },
        });
    });

    $("#pandrop").change(function () {
        var did = $(this).val();
        var ur = "{% url 'Guest:ajaxward' %}"
        $.ajax({
            url: ur,
            data: { did: did, },
            success: function (data) {
                $("#warddrop").html(data);
            },
        });
    });
    </script> 