<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    welcome {{worker.worker_name}}
    <a href="{% url 'Ashaworker:homepage' %}">Home</a>
    <a href="{% url 'Ashaworker:workerprofile'%}">View Profile</a> <br>
    <a href="{% url 'Ashaworker:workeredit' %}">Edit Profile</a> <br>
    <a href="{% url 'Ashaworker:changepassword' %}">Change Password</a> <br>
</body>
</html>