<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input required name="currentpassword" placeholder="CurrentPassword" type="text"><br><br>
        <input required name="newpassword" placeholder="ChangePassword" type="password"><br><br>
        <input required name="confirmpassword" placeholder="ConfirmPassword" type="password"><br><br>
        <input type="submit" value="Submit"><br><br>
        <input type="reset" value="Cancel"><br><br>
    </form>
</body>
</html>

{% if msg %}
<script>
    alert("{{msg}}")
</script>
{% endif %}