{% comment %} Hello {{panchayat.panchayat_name}} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome {{kitchen.center_name}} <br> <br>
    <a href="{% url 'kitchencenter:homepage' %}">Home</a><br>
    <a href="{% url 'kitchencenter:kitchenprofile'%}">View Profile</a> <br>
    <a href="{% url 'kitchencenter:kitchenedit' %}">Edit Profile</a> <br>
    <a href="{% url 'kitchencenter:viewrequest' %}">View Requests</a> <br>
</body>
</html>
