<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <table border='1'>
        {% csrf_token %}
        <tr>
            <td>SI NO</td>
            <td>Patient Name</td>
            <td>Ward</td>
            <td>Address</td>
            <td>Food</td>
            <td>Date</td>
            <td>Action</td>
            <td>Assign</td>
        </tr>
        {%for i in requestdata%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.user_id.user_name}}</td>
            <td>{{i.user_id.user_ward.ward_name}}</td>
            <td>{{i.user_id.user_address}}</td>
            <td>{{i.food_name}}</td>
            <td>{{i.food_date}}</td>
            <td><a href="#">Accept</a></td>
            <td><a href="{% url 'kitchencenter:assigntask' i.id%}">Worker</a></td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>