<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <table border='1'>
            <tr>
                <td>SI NO</td>
                <td>Prescription</td>
                <td>Date</td>
                <td>Request</td>
            </tr>
            {%for i in medicine%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.medicine_prescription}}</td>
                <td>{{i.medicine_date}}</td>
                <td><a href="{% url 'User:requestmedicine' i.id %}">Request</a></td>
            </tr>
            {%endfor%}
        </table>
</body>
</html>