<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen Registration</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Name" name="name" ><br><br>
        <input type="number" placeholder="contact" name="contact" ><br><br>
        <textarea name="address" id="" cols="30" rows="10">Type here...</textarea><br><br>
        <input type="email" placeholder="email" name="email" ><br><br>
        <input type="password" placeholder="password" name="password"><br><br>
        <input type="submit" value="Save">
        <input type="reset" value="Cancel">
    </form>
</body>
</html>