<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Name" name="name" ><br><br>
        <input type="number" placeholder="Age" name="age" ><br><br>
        Male<input type="radio" name="gender" value="male" >
        Female<input type="radio" name="gender" value="female"><br><br>
        <input type="date" name="date" ><br><br>
        <input type="submit" value="Save">
        <input type="reset" value="Cancel">
    </form>
</body>
</html>