<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit centre</title>
</head>
<body>
    
    <form action="" method="post">
        {% csrf_token %}
    <table border=1>
        <tr>
            <td>Photo</td>
            <td><img src="{{ centre.center_photo.url }}" width='150' height='150' alt=""></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" value="{{centre.center_name}}" ></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" name="address" value="{{centre.center_address}}" ></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="email" value="{{centre.center_email}}" ></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" value="{{centre.center_password}}" ></td>
        </tr>
        <tr>
            <td>Ward</td>
            <td><input type="text" name="district" value="{{centre.center_ward.ward_name}}" ></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit">
                <input type="reset" value="Cancel">     
            </td>
        </tr>
    </table>
</form>
</body>
</html>