{% comment %} Hello {{panchayat.panchayat_name}} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome {{centre.center_name}} <br> <br>
    <a href="{% url 'Healthcenter:homepage' %}">Home</a><br>
    <a href="{% url 'Healthcenter:centreprofile'%}">View Profile</a> <br>
    <a href="{% url 'Healthcenter:centreedit' %}">Edit Profile</a> <br>
    <a href="{% url 'Healthcenter:changepassword' %}">Change Password</a> <br>
    <a href="{% url 'Healthcenter:addpatient' %}">Add Patient</a> <br>
    <a href="{% url 'Healthcenter:viewpatient' %}">View Patients</a> <br>
    <a href="{% url 'Healthcenter:medicinerequest'%}">Medicine Request</a> <br>
</body>
</html>
