{% extends 'Admin/Header.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>District</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
      <table class="table">
        <tr>
          <td>District</td>
          <td><input placeholder="district" type="text" name="district" value="{{dis.district_name}}" /></td>
        </tr>
        <tr>
          <td colspan="2" align="center"><input type="submit" value="Submit" /></td>
        </tr>
      </table>
    </div>
    </div>
  </div>
      
      
    </form>
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
    <table  class="table">
        <tr>
            <th>SI NO</th>
            <th>District</th>
            {% comment %} <th>Action</th> {% endcomment %}
        </tr>
        {%  for i in district  %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.district_name}}</td>
            {% comment %} <td><a href="{% url 'webbasic:deletedistrict' i.id %}">Delete</a></td>
            <td><a href="{% url 'webbasic:editdistrict' i.id %}">Edit</a></td> {% endcomment %}
        </tr>
        {%  endfor %}
    </table>
  </div>
  </div>
</div>
  </body>
</html>
{% endblock content %}
